@model List<ValoracionConNombreUsuario>
@{
    Producto producto = ViewData["Producto"] as Producto;
    List<int> idsproductos = Context.Session.GetObject<List<int>>("IDSPRODUCTOS");
}
@section Scripts {

    <script>
        $(document).ready(function () {
            // Delegar el evento de clic al elemento padre estático que ya está presente en la página
            $(document).on("click", ".botonloaddetalle", function () {
                var idProducto = $(this).data("idproducto");
                $.ajax({
                    url: '/Deportes/_DetalleMisCompras',
                    type: 'GET',
                    data: { idProducto: idProducto },
                    success: function (response) {
                        $("#contenidodetalle").html(response);
                    },
                    error: function () {
                        console.error("Error al cargar _DetalleMisCompras");
                    }
                });
            });
        });
    </script>


}

<h1>Detalles Del Producto</h1>

@if (producto != null)
{
    <div class="row">
        <div class="col-md-4">
            <img src="~/Images/@producto.Imagen" class="w-100" />
        </div>
        <div class="col-md-8">
            <h2>Información del Producto</h2>
            <p><strong>Marca:</strong> @producto.Marca</p>
            <p><strong>Nombre:</strong> @producto.Nombre</p>
            <p><strong>Descripción:</strong> @producto.Descripcion</p>
            <p><strong>Precio:</strong> @producto.Precio,00€</p>
            <p><strong>Descripción Larga:</strong> @producto.Descripcion_Larga</p>

        </div>
    </div>

    @if (idsproductos == null)
    {
        <a class="btn btn-info" asp-controller="Deportes"
           asp-action="DetailProducto"
           asp-route-idProducto="@producto.IdProducto">

            Agregar al carrito

        </a>
    }
    else
    {
        if (idsproductos.Contains(producto.IdProducto))
        {
            <h4 style="color:deepskyblue">Este producto ya lo tienes en el carrito</h4>
        }
        else
        {
            <a class="btn btn-info" asp-controller="Deportes"
               asp-action="DetailProducto"
               asp-route-idProducto="@producto.IdProducto">

                Agregar al carrito

            </a>
        }
    }

    <a asp-action="Compra" asp-controller="Deportes" asp-route-IdProducto="@producto.IdProducto" class="btn btn-success pt-2 mt-2">Comprar</a>

    @if (User.Identity.IsAuthenticated)
    {
        <button id="botonloadvaloraciones" class="btn btn-success">Valorar Producto</button>
    }

   
    <div id="contenidovaloraciones" style="background-color: lightgreen"></div>
}

@if (Model != null && Model.Count > 0)
{
    <div class="row mt-4">
        <div class="col-md-12">
            <h2>Valoraciones</h2>
            <ul class="list-inline">
                @foreach (var valoracion in Model)
                {
                    <li class="list-inline-item">
                        <div style="border: 1px solid #ccc; padding: 10px; margin: 5px;">
                            <p><strong>Usuario:</strong> @valoracion.NombreUsuario</p>
                            <p><strong>Valoración:</strong> @valoracion.Puntuacion</p>
                            <p><strong>Comentario:</strong> @valoracion.Comentario</p>
                            <!-- Agrega más campos de Valoración según sea necesario -->
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}
else
{
    <p>No hay valoraciones para este producto.</p>
}
