@model IndexViewModel

@{

    Layout = "~/views/shared/_layout.cshtml";
    List<int> idsproductos = Context.Session.GetObject<List<int>>("IDSPRODUCTOS");
}


<style>
    .accordion {
        width: 80%; /* Ancho del acordeón */
        margin: 0 auto; /* Margen automático a izquierda y derecha para centrar */
        position: relative;
        overflow: hidden;
    }


    .slides {
        display: flex;
        transition: transform 1s ease;
    }

        .slides input {
            display: none;
        }

    .slide1, .slide2, .slide3 {
        width: 100%;
        flex: 0 0 100%;
    }

        .slide1 img, .slide2 img, .slide3 img {
            width: 100%;
            height: auto;
        }

    .selectors {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }

        .selectors label {
            width: 15px;
            height: 15px;
            background-color: #ccc;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
        }

    #slide1:checked ~ .slides {
        transform: translateX(0);
    }

    #slide2:checked ~ .slides {
        transform: translateX(-100%);
    }

    #slide3:checked ~ .slides {
        transform: translateX(-200%);
    }

    #slide1:checked ~ .selectors label:nth-child(1),
    #slide2:checked ~ .selectors label:nth-child(2),
    #slide3:checked ~ .selectors label:nth-child(3) {
        background-color: #555;
    }
</style>
 <h2 style="color:red">@ViewData["MENSAJE"]</h2>

<div class="accordion">
    <input type="radio" name="slide" id="slide1" checked>
    <input type="radio" name="slide" id="slide2">
    <input type="radio" name="slide" id="slide3">

    <div class="slides">
        <div class="slide1">
            <img src="~/Images/BalonNaranja.jpg" alt="Imagen 1" class="slide-img w-25">
        </div>
        <div class="slide2">
            <img src="~/Images/BañadorArena.jpg" alt="Imagen 2" class="slide-img w-25">
        </div>
        <div class="slide3">
            <img src="~/Images/Bayern.jpg" alt="Imagen 3" class="slide-img w-25">
        </div>
    </div>

    <div class="selectors">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
    </div>
</div>


<h1>TIPOS DE DEPORTE</h1>
<div class="py-3">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <span class="nav-link">¿Te interesa la nutrición?</span>
        </li>
        <li class="nav-item">
            <select class="form-control">
                @foreach (var nutricion in Model.Nutricion)
                {
                    <option value="@nutricion.IdTipoNutricion">@nutricion.Nombre</option>
                }
            </select>
        </li>
    </ul>

    <h1>DEPORTES</h1>

    <div class="container mt-4">
       
            <div class="">
                <!-- Amplié el tamaño de la columna para que se ajuste mejor -->
                <div class="card p-3 shadow">
                    <label for="deporteSelect" class="form-label">Deportes: </label>
                    <div class="">
                        <div class="row">
                            @foreach (var deporte in Model.DetalleDeporte)
                            {
                                <div class="col-3 mb-3">
                                    <!-- Ajusté el tamaño de la columna para mostrar 6 elementos por fila -->
                                    <!-- Añade margen inferior para separar las filas -->
                                    <a asp-action="CategoriasProducto" asp-controller="Deportes" asp-route-IdDetalleDeporte="@deporte.IdDetalleDeporte">
                                        <div class="card-tex p-4 shadow bg-primary text-white">
                                            <!-- Ajusté el tamaño de la tarjeta -->
                                            <label class="form-label">@deporte.Nombre</label>
                                        </div>
                                    </a>
                                </div>
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.Productos != null)
    {
        <h2>TODOS NUESTROS PRODUCTOS</h2>
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card p-3 shadow">
                        <label for="deporteSelect" class="form-label">Productos:</label>
                        <div class="container">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <!-- Utilizamos row-cols-md-3 para que haya una fila de 3 columnas en dispositivos medianos (md) y una columna en dispositivos pequeños -->
                                @foreach (var producto in Model.Productos)
                                {
                                    <div class="col mb-4">
                                        <!-- Eliminamos el estilo width: 400px; del div.card para que el ancho sea automático -->
                                        <div class="card p-4 shadow bg-light">
                                            @if (producto.Imagen != null)
                                            {
                                                <img src="~/Images/@producto.Imagen" class="card-img-top w-100 mx-auto d-block" alt="@producto.Nombre">
                                            }
                                            <div class="card-body">
                                                <h5 class="card-title">@producto.Nombre</h5>
                                                <p class="card-text">@producto.Descripcion</p>
                                                <p class="card-text">Precio: @producto.Precio,00€</p>
                                                <a asp-controller="Deportes" asp-action="DetailProducto" asp-route-IdProducto="@producto.IdProducto" class="btn btn-primary">Mas Info</a>
                                                @if(idsproductos ==null){
                                                    <a class="btn btn-info" asp-controller="Deportes"
                                                   asp-action="Index"
                                                   asp-route-idProducto="@producto.IdProducto">

                                                        Agreagar al carrito

                                                </a>
                                                }
                                                else
                                                {
                                                    if(idsproductos.Contains(producto.IdProducto))
                                                    {
                                                        <h4 style="color:deepskyblue">Este producto ya lo tienes en el carrito</h4>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-info" asp-controller="Deportes"
                                                           asp-action="Index"
                                                           asp-route-idProducto="@producto.IdProducto">

                                                            Agreagar al carrito

                                                        </a>
                                                    }
                                                }
                                              
                                                <a asp-action="Compra" asp-controller="Deportes" asp-route-IdProducto="@producto.IdProducto" class="btn btn-success pt-2 mt-2">Comprar</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
 

